body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

* {
  box-sizing: border-box;
  background-color: #212121;
}

.header {
  width: 100%;
  background: #2c3e50;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;

  border-radius: 12px; /* 👈 redondeado */
  margin: 20px auto;
  max-width: 900px;
  position: relative;
  overflow: hidden;

 box-shadow: 
  0 4px 10px rgba(255, 255, 255, 0.2),
  0 8px 25px rgba(255, 255, 255, 0.306),
  0 0 10px rgba(0, 242, 255, 0.249);
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  align-items: center; 

  padding: 0 20px; /* grosor del "borde" */
  height: 70px;

  background: linear-gradient(
    90deg,
    #00f2ff,
    #00ff88,
    #00f2ff
   );

   -webkit-mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
   -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.header h1 {
  margin: 0;
  font-size: 32px;
  color: rgb(73, 255, 255);
  
  
  background: transparent;   /* 👈 quita fondo raro */  
}


.logout-btn {
  background-color: #e74c3c;
  padding: 8px 12px;
  border-radius: 5px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
  background-color: #fafafa;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.btn-completar {
  background-color: #4CAF50;
}

.btn-eliminar {
  background-color: #f44336;
}

.btn-editar {
  background-color: #ff9800;
}
.card button {
  margin-right: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.header .logout-btn {
  background-color: #e74c3c;
  padding: 8px 15px;
  border-radius: 5px;
  width: auto;        /* 👈 clave */
  font-size: 14px;
  margin-left: auto;  /* 👈 lo empuja a la derecha */
}